body {
    scroll-snap-align: center;
    scroll-snap-type: y mandatory;
  overflow-y: auto;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

.box {
    scroll-snap-align: center;
    scroll-snap-type: y mandatory;
  overflow-y: auto;
  scrollbar-width: none;
  color:white;
  background: url("./src/components/assets/bg.jpeg")
}

.box::-webkit-scrollbar {
    display: none;
}